*
!/dots
!/dots/**/*
!/fish
!/fish/conf.d
!/fish/conf.d/50-main.fish
!/fish/functions
!/fish/functions/fish_prompt.fish
!/git
!/git/config
!/git/ignore
!/nvim
!/nvim/init.lua
!/tmux
!/tmux/tmux.conf
!/.gitignore
