*
!/dots
!/dots/**/*
!/fish
!/fish/conf.d
!/fish/conf.d/50-main.fish
!/fish/functions
!/fish/functions/fish_greeting.fish
!/fish/functions/l.fish
!/fish/functions/ll.fish
!/fish/functions/lll.fish
!/fish/functions/remote.fish
!/flake.lock
!/flake.nix
!/git
!/git/ignore
!/git/main.inc
!/helix
!/helix/config.toml
!/kitty
!/kitty/kitty.conf
!/LaunchAgents
!/LaunchAgents/co.t19.*
!/starship.toml
!/tmux
!/tmux/tmux.conf
!/.gitignore
