*
!/bin
!/bin/*
!/.config
!/.config/Brewfile
!/.config/fish
!/.config/fish/conf.d
!/.config/fish/conf.d/50-main.fish
!/.config/fish/functions
!/.config/fish/functions/fish_prompt.fish
!/.config/git
!/.config/git/ignore
!/.config/git/main.inc
!/.config/nvim
!/.config/nvim/init.vim
!/.config/packages.nix
!/.config/tmux
!/.config/tmux/tmux.conf
!/.gitignore
